* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #f5f8ff;
}

/* share style  */
button {
    padding: 15px 35px;
     background-color: #192A51;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s background ease-in-out;
}
button:hover{
   background-color: #FFB4A2;
    color: #000;

}

span {
    display: block;
    margin-top: 10px;
}

.text-color {
    color: rgba(37, 36, 50, 0.5);
}

.margin {
    margin: 10px 0;
}

.nav-logo {
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.images{
    width: 30px;
    height: 30px;
    background-position: center;

}

/* header style  */
.header {
    background-image: url(../Assets/Hero-bg.png);

    padding-bottom: 100px;
}

.nav {
    padding: 0 150px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.banner-section {
    text-align: center;
    margin: 140px 0;
}

.banner-section h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

/* action Section */
.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    height: 428px;
}

.action-leftside .action-title {
    font-size: 40px;
    font-weight: bold;
}

.action-leftside .action-sub-title {
    font-size: 24px;
margin: 15px 0;
}

.action-container img {
    width: 403px;
    border-radius: 40px;

}

/* productive section  */
.productive-user-container {
    padding: 0px 150px;
    margin: 50px 0;
}

.productive-user {
    background: rgba(78, 71, 255, 0.1);
    border-radius: 20px;
}

.productive-details {
    padding: 40px 70px;
}

.productive-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.productive-sub-title {
    display: flex;
    justify-content: space-between;

}

.placed {
    text-align: center;
}

.placed .number {
    font-family: "Inter", sans-serif;
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
    padding: 0;
}

.placed .number .num-name {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

/* user feedback */
.user-feedback {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}

.feedback-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}

.feedback-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.feedback-card {
    background-color: 192A51;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
    text-align: left;
    padding: 24px;
    border-radius: 10px;
    /* width: ; */
}

.card-rating {
    margin: 10px 0;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.user-comment {
    margin: 15px 0;
    font-size: 18px;
    width: 280px;
    color: rgba(37, 36, 50, 0.8);
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info img {
    border-radius: 50%;
}

.user-info .user-name {
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
}

/* optional section  */
.focuse-container{
    text-align: center;
    margin: 50px 0;
}
.focuse-title{

}
.focus-sub-title{
    margin: 20px 0;
    font-size: 16px;
}
.focuse-image img{
    margin-top: 20px;
    border-radius: 40px;
}

/* Touch section  */
.touch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    margin: 70px 0;
    background-color: rgb(69, 104, 130);
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.touch-title {
    font-size: 98px;
    color: #ffffff;
}

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.form input {
    padding: 20px 34px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
}

.form label {
    font-size: 16px;
    font-weight: bold;
}

.form textarea {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

.form input[type="Submit"] {
    padding: 10px 15px;
    background-color: #4E47FF;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.8s color background ease-in;
}
.form input[type="Submit"]:hover{
background-color: #1B3C53;
    color: #f5f8ff;
}

/* footer section  */
.footer-container {
    text-align: center;
    width: 531px;
    height: 300px;
    margin: 0 auto;
    /* padding-bottom: 50px; */

}
.logo{
    font-size: 60px;
    font-weight: bold;
    color: #4E47FF;
     
}
.sub-title {
    margin: 40px 0;
    font-size: 16px;
    color: #8987A1;
}
.link ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link li {
    list-style: none;
}

.link li a {
    font-size: 17px;
    text-decoration: none;
    color: #8987A1;
}
