*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif;;
}
/* share style  */
button {
    padding: 15px 35px;
    background-color: #4E47FF;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

span {
    display: block;
    margin-top: 10px;
}

.text-color {
    color: rgba(37, 36, 50, 0.5);
}
.margin{
    margin: 10px 0;
}

/* header style  */
.header {
    background-image: url(../Assets/Hero-bg.png);
    
    padding-bottom: 100px;
}

.nav {
    padding: 0 150px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    color: #4E47FF;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.banner-section {
    text-align: center;
    margin: 140px 0;
}

.banner-section h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

/* action Section */
.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    height: 428px;
}

.action-leftside .action-title {
    font-size: 40px;
    font-weight: bold;
}

.action-leftside .action-sub-title {
    font-size: 24px;

}
.action-container img{
    width: 403px;
    border-radius: 40px;

}

/* productive section  */
.productive-user-container{ 
    padding: 0px 150px;
    margin: 50px 0;
}

.productive-user{
    background: rgba(78, 71, 255, 0.1);
    border-radius: 20px;
}
.productive-details{
    padding: 40px 70px;
}
.productive-title{
    margin-bottom: 30px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}
.productive-sub-title{
    display: flex;
    justify-content: space-between;

}
.placed{
    text-align: center;
}
.placed .number{
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
    padding: 0;
}

.placed .number .num-name{
    color: rgba(0,0,0,0.5);
    font-size: 20px;
}

/* user feedback */
.user-feedback{
    text-align: center;
    padding: 0 150px;
    margin: 70px;
}
.feedback-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}
.feedback-card-container{
    display: flex;
    justify-content: space-between;
}
.feedback-card{
    background-color: 192A51;
    box-shadow: 3px 4px 4px rgba(0,0,0,0.3);
    text-align: left;
    padding: 24px;
}
.card-rating{
    margin: 10px 0;
}

.card-title{
   font-weight: bold;
   margin: 10px 0;
}
.user-comment{
    margin: 10px 0;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.user-info img{
    border-radius: 50%;
}
.user-info .user-name{
    font-size: 18px;
    font-weight: bold;
    color: rgba(0,0,0,0.9);
}

/* Touch section  */
